.container {
    width: 100%; /* Ensure it fills the full width of its parent */
    max-width: none !important; /* Removes any maximum width restriction */
    background-image: url('https://i.ibb.co/TBqP7gW/DALL-E-2024-04-07-16-01-45-Create-a-background-image-featuring-sparkling-stars-in-the-universe-desig.webp');
    background-size: cover; /* Ensures the background covers the full container */
    background-position: center; /* Centers the background image */
}
